In [2]:
import pandas as pd
import numpy as np
import sys

np.set_printoptions(threshold=sys.maxsize)

In [3]:
user = pd.read_json('../userdata/user.json')
del user['id']
del user['BMI']
del user['Weight']
user

,Gender,Age,Height,family history with overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,0,21,1.620000,1,0,2,3,1,0,1,0,0,1,0,0,0
1,0,21,1.520000,1,0,3,3,1,1,2,1,3,0,1,0,0
2,1,23,1.800000,1,0,2,3,1,0,1,0,2,1,2,0,0
3,1,27,1.800000,0,0,3,3,1,0,1,0,2,0,2,1,1
4,1,22,1.780000,0,0,2,1,1,0,1,0,0,0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,0,21,1.710730,1,1,3,3,1,0,1,0,2,1,1,0,5
2107,0,22,1.748584,1,1,3,3,1,0,1,0,1,1,1,0,5
2108,0,23,1.752206,1,1,3,3,1,0,1,0,1,1,1,0,5
2109,0,24,1.739450,1,1,3,3,1,0,2,0,1,1,1,0,5
2110,0,24,1.738836,1,1,3,3,1,0,2,0,1,1,1,0,5

In [6]:
user.describe()

,Gender,Age,Height,family history with overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
count,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000
mean,0.505921,24.315964,1.701677,0.817622,0.883941,2.423496,2.687826,1.140692,0.020843,1.014685,0.045476,1.006632,0.664614,0.731407,0.263382,2.241118
std,0.500083,6.357078,0.093305,0.386247,0.320371,0.583905,0.809680,0.468543,0.142893,0.688616,0.208395,0.895462,0.674009,0.515498,0.473747,1.802877
min,0.000000,14.000000,1.450000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,20.000000,1.630000,1.000000,1.000000,2.000000,3.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,23.000000,1.700499,1.000000,1.000000,2.000000,3.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,2.000000
75%,1.000000,26.000000,1.768464,1.000000,1.000000,3.000000,3.000000,1.000000,0.000000,1.000000,0.000000,2.000000,1.000000,1.000000,1.000000,4.000000
max,1.000000,61.000000,1.980000,1.000000,1.000000,3.000000,4.000000,3.000000,1.000000,2.000000,1.000000,3.000000,2.000000,3.000000,3.000000,5.000000

In [9]:
user.NObeyesdad[(user == '0').any(axis=1)]

Series([], Name: NObeyesdad, dtype: int64)